# Віртуальне оточення
venv/
.venv/
env/
ENV/

# Python байт-код та кеш
__pycache__/
*.py[cod]
*$py.class

# Локальна база даних SQLite
*.sqlite3
db.sqlite3

# Змінні середовища та конфігурації
.env
.env.local

# Статичні файли (якщо використовується collectstatic) та медіа
staticfiles/
media/

# Налаштування редакторів коду (IDE)
.idea/
.vscode/
*.swp
*.swo

# Системні файли ОС
.DS_Store
Thumbs.db